#root {
  padding: 35px;
  font-family: 'Raleway', sans-serif;
}

.Tile {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 1px solid #CBCBCB;
  border-radius: 4px;
  min-height: 300px;
  max-width: 100%;
  min-width: 400px;
  text-align: center;
  color: rgb(10, 82, 132);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Grid {
  max-width: 860px;
  min-width: 430px;
  margin: auto;
  display: grid;
  grid-gap: 30px 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: 300px 250px 1fr;
  justify-content: center;
}

h1 {
  margin: 20px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 30px;
}

.SearchForm {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.SearchForm input {
  min-width: 250px;
}

.UploadForm {
  padding-bottom: 30px;
}

.UploadForm input {
  min-width: 200px;
}

.Button {
	background: none;
	color: inherit;
	border: none;
  padding-top: 10px;
  font: inherit;
  font-size: 19px;
	cursor: pointer;
	outline: inherit;
}

.Result {
  margin: 15px;
}

.Result p {
  text-align: left;
}

a {
  text-decoration: none;
  color: rgb(10, 82, 132);
}

.Intro {
  background-color: rgb(255, 255, 255);
  border: 1px solid #CBCBCB;
  border-radius: 4px;
  min-height: 150px;
  max-width: 821px;
  min-width: 400px;
  text-align: center;
  color: rgb(10, 82, 132);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: auto;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

div.Intro p {
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#upload {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

#resultaten {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  grid-row-end: span 2;
}

#status {
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  color: #1D9D21;
}

@media only screen and (max-width: 1024px) {
  #upload {
    grid-column: span 1;
    grid-row: span 2;
  }

  #resultaten {
    grid-column: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
  }

  .Tile {
    max-width: 90%;
  }

  .Intro {
    min-width: 105%;
  }
}